.circle {
    list-style-type: circle; 
 }
 .romans {
     list-style: upper-roman;
 }
 
 .letras {
     list-style: lower-latin;
 }

.galeria img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
    cursor: pointer;
}